.render-com-con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}
.render-item-component {
    width: 100%;
    min-height: 4rem;
    box-sizing: border-box;
    padding: 1rem;
}
